:root {
    --bgc: #252627;
    --borgercolor: #9f8fac;
    --borderradius: 10px;
    --bordersize : 2px;
    --bgc1: #343536;
    --color: #bbc0ca;
    --color-dark: #978f9e;
    --color-link-1: #2d8ec7;
    --color-link-2: #a72bc0;
    --selection-color : #8aeef5;
}
html {
    color: var(--color);
    background-color: var(--bgc);
}
a {
    transition: all 0.5s ease-in-out;
    color: var(--color-link-1);
}
a:visited {
    color: var(--color-link-2);
}
a:hover {
    text-shadow: 0px 0px 2px var(--color-link-1);
    color: var(--color-link-1);
}
.panel {
    background-color: var(--bgc1);
    border-radius:var(--borderradius);
    border: var(--bordersize) solid var(--borgercolor);
    
}